<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104943080766-nv7e2f044jbqje6erobenl720qthr1o9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104943080766-nv7e2f044jbqje6erobenl720qthr1o9</string>
	<key>API_KEY</key>
	<string>AIzaSyAhQe6iWSNdCJ_gVe3vxCeLoPIXkdRBROg</string>
	<key>GCM_SENDER_ID</key>
	<string>104943080766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flash</string>
	<key>PROJECT_ID</key>
	<string>flash-64c31</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-64c31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104943080766:ios:e1a4cf0840d0f84817c86f</string>
</dict>
</plist>